attrs==22.2.0
Brotli==1.0.9
et-xmlfile==1.1.0
imap-tools==1.2.0
importlib-metadata==4.8.3
multivolumefile==0.2.3
mysql-connector-python==8.0.28
openpyxl==3.1.2
patool==1.12
pkg_resources==0.0.0
price-parser==0.3.4
protobuf==3.19.6
psutil==5.9.5
py7zr==0.19.2
pybcj==1.0.1
pycryptodomex==3.18.0
pyppmd==0.18.3
pyzstd==0.15.9
rarfile==4.0
texttable==1.6.7
typing_extensions==4.1.1
xlrd==1.2.0
zipp==3.6.0
