#На единую точку входа
RewriteEngine On
RewriteRule ^control/cp-guideline/?$ control/guideline [R=302,L,QSA]
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^index\.php$ control [R=302,L]
RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^$ control [R=302,L]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule (.*) index.php
